<div class="home-parent">
    <div>
        <mat-card>
            <h2>Bienvenu ⚽⚽⚽</h2>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <h2>Le concept 🔥</h2>
            <p>Le concept de cette application est de gérer des équipes de foot
                et pouvoir lancer un match avec des joueurs random</p>
        </mat-card>
    </div>
    <div>
        <mat-card>
            <h2>Comment jouer ?</h2>
            <p>Tout d'abord, vous devez créer vos joueurs. Pour cela, rendez-vous dans
                la section "gestion joueurs et équipes" afin de générer ces derniers.</p>
        </mat-card>
    </div>
    <div>

        <mat-card>
            <h2>Et ensuite ...</h2>
            <p>Une fois vos joueurs créés, aller dans la page "Match !!!" pour simuler un match avec des joueurs
                aléatoire ! Rien de plus simple ! </p>
        </mat-card>
    </div>
</div>
