/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a {
  text-decoration: none!important;

  &:hover {
   background: #c3dfe5;
  }
}

.mat-card-primary {
  background: #d9eef3;
}

app-teams-players-management, app-home {
  width: 100%;
}

.menu-nav {
  margin-left: 3rem;

  button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
}

.home-parent {
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
    margin: 1rem;
    display: flex;

    mat-card {
      width: 45%;
    }

    &:nth-child(2n) {
      justify-content: flex-end;
    }
  }
}
