<mat-card class="mat-card-primary">
    <div style="display: flex;justify-content: space-between;">
        <mat-card-subtitle>world cup</mat-card-subtitle>
        <a href="/teamForm">
            <mat-icon mat-list-icon>add_circle</mat-icon></a>
    </div>
    <mat-card-title>Liste des équipes</mat-card-title>
    <mat-card-content>
        <mat-list role="list" *ngFor="let team of teams">
            <div style="display: flex; justify-content: flex-start; align-items: center;">
                <mat-list-item role="listitem">
                    <mat-icon mat-list-icon>account_box</mat-icon>
                    <div mat-line>{{team.name}}</div>
                </mat-list-item>

                <a mat-raised-button href="/teamForm?id={{team.id}}">modifier</a>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>
